.titulo-principal{
    padding-left: 30px;
}
#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 20px;
}

p {
  text-align: center;
}

.título-centralizado {
  text-align: center;
}

em strong {
  color: red;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background: #ffffff;
  padding: 30px;
}

.items {
  font-style: italic;
}

ul {
    /* Las listas por defecto ocupan el 100% de nuestra pantalla, para 
    mosificar esto usamos la propiedad inline-block */
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferencial{
    width: 50%;
}